body{
    background-image: url("f.jpg");
    background-size: cover;
    height: 200px;
}
table{
    border-collapse: collapse;
    padding: 0px;
    margin:0px;
}
th{
    padding: 10px;
}
td{ 
    background-color: rgba(0,0,0,0.2);
    height: auto;
    width:65px;
    box-sizing: border-box;
    text-align: center;
}
.algin{
    height:50px;
}

table.single{
    top:28%;
    left:20%;
    position:absolute;
}
table.round{
    top:28%;
    left:55%;
    position: absolute;
}
tr:nth-child(2n+1) td{
    background-color: transparent;
    height:20px;
}
form{
    top:87%;
    position: fixed;
    width:100%;
    height:86px;
    background-color: rgba(0,0,0,0.2);
    padding-left: 30px;
    box-sizing: border-box;
}
form button{
    left:1050px;
    position: fixed;
    top:91%;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    border:none;
    outline: none;
}
div.from{
    left:20%;
    top:20%;
    position: absolute;
    padding-left: 15px;
}
div.from h1{
    font-size:18px;
    text-transform: capitalize;
    font-weight: lighter;
}
div.from p{
    font-size:14px;
    top:24px;
    position: absolute;
}
div.to{
    left:55%;
    top:20%;
    position: absolute;
    padding-left: 15px;
}
div.to h1{
    font-size:18px;
    text-transform: capitalize;
    font-weight: lighter;
}
div.to p{
    font-size:14px;
    top:24px;
    position: absolute;
    
}