body{
    margin:0;
    padding:0;
    font-family:arial;
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding:10px 100px;
    box-sizing: border-box;
}
nav .logo{
    height:75px;
    margin-top:5px;
    margin-left:-55px;
}
nav ul{
    list-style:none;
    float: right;
    margin:0;
    padding:0;
    display:flex;
}
nav ul li a{
    text-decoration: none;
    padding:12px 30px;
    font-size:22px;
    text-transform: capitalize;
    line-height: 60px;
    color:black;
    border:0px;
    outline:0px;
    
}
nav ul li a.active{
    background-color:tomato;
    border-radius: 5px;
}
.slide{
    background-image: url("back8.jpg");
    width: 100%;
    height:668px;
    background-size: cover;
    background-position: center;
    animation: show 20s infinite;  
    
}
section.format{
    margin: 0px 200px;
    padding:5px 50px;
    font-family:arial;
    font-size:20px;
    text-align:justify;
    text-indent: 50px;
}
@keyframes show{
    10%{
        background-image:url("back8.jpg");
    }
    28%{
        background-image: url("back5.jpg");
    }
    46%{
        background-image:url("back9.jpg");
    }
    64%{
        background-image: url("back.jpg");
    }
    82%{
        background-image: url("back2.jpg");
    }
    100%{
        background-image: url("back4.jpg");
    }
}
.wrapper{
    color:#210404;
    font-weight: bold;
    width:500px;
    height:390px;
    position: absolute;
    top:30%;
    right:1%;
    padding:20px 40px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.5);
    transition: .5s ease;
}
.wrapper:hover{
    box-shadow: 0px 0px 40px 16px rgba(18,18,18,.5);
}
.wrapper input{
    border-radius:5px;
    background-color: transparent;
    border:0px;
    border-bottom:1px solid white;
    margin-top:10px;
    height: 20px;
    padding:10px;
    color:#210404;
}
.wrapper input:focus{
    border-bottom: 2px solid lightskyblue;
}
.wrapper p{
    margin-bottom: 2px;
}
.wrapper button{
    float:right;
    width:150px;
    height:40px;
    left:250px;
    bottom: 60px;
    background-color: tomato;
    border-radius:5px;
    border:0px;
    color:#210404;
    position: absolute;
    font-weight: bold;
}
nav .user{
    margin-top:-80px;
    margin-left:900px;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
}
    

